// EXTEND

%estiloH2 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: xx-large;
  color: blue;
  border: 5px solid black;
  background-color: black;
  margin-top: 25px;
}



// MIXIN

